body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 2em;
}

input {
  border:0;
  background-color: #555555;
}

#wrapper {
  height: 100%;
}

.bg-image {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('../images/m16.jpg');
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.bg-layer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -moz-box-shadow:    inset 0 0 100px #000000;
  -webkit-box-shadow: inset 0 0 100px #000000;
  box-shadow:         inset 0 0 100px #000000;
}

/* --- Welcome message --- */

#welcome-message {
  color: white;
  height: 10%;
  height: 4em;
}

#welcome-message h1 {
  margin: 0;
}

#welcome-message .row{
  margin: 0;
}

#logo {
  width: 25%;
  position: relative;
  float: left;
}

#name {
  text-align: left;
  position: relative;
}

#time {
  text-align: right;
  width: 75%;
  position: relative;
  float: left;
}
/* --- Tab View --- */
/* --- Tabs --- */

#tab-view {
  height: 90%;
  height: calc(100% - 4em);
}

#tabs {
  width: 5%;
  height: 100%;
  position: relative;
  float: left;
}

.tab {
  width: 100%;
  height: 5em;
  position: relative;
  float: left;
  margin-bottom: 1em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tab {
  background-color: #4FCDF7;
  opacity: .7;
}

.tab.active {
  opacity: .99;
}

.tabicon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*#tab2 {
  background-color: #DBDBAF;
}

#tab3 {
  background-color: #DBDBAF;
}*/
/* --- Viewpane --- */

#viewpane {
  width: 95%;
  height: 100%;
  position: relative;
  float: left;
  background: #4FCDF7;
  padding: 1em;
  opacity: .99;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#viewpane .row {
  height: 100%;
  margin: 0;
}

.half-viewpane {
  height: 100%;
  width: calc(50% - 0.5em);
  background-color: white;
  padding: 0.5em;
  position: relative;
  float: left;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#left-viewpane {
  margin-right: 0.5em;
}

#right-viewpane {
  margin-left: 0.5em;
}

.run-form {
  position: inline-block;
  text-align: center;
  margin-top: 30px;
}

.run-form-fields {
  text-align: left;
}

#run-entry {
  display: none;
  width: 75%;
  height: 40%;
  background-color: gray;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  /*opacity: .9;*/
  padding-left: 10px;
}


#tablediv {
  height: 90%;
  overflow: auto;
}

#plus-div {
  position: relative;
  text-align: right;
  margin-bottom: 5px;
}

#plus-sign {
  width: 2em;
}

.tab {
  padding: .4em;
}

.tabicon {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- d3 --- */

path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}

circle {
  stroke: lightblue;
  fill: lightblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}