body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 2em;
}

#wrapper {
  height: 100%;
}
/* --- Welcome message --- */

#welcome-message {
  height: 10%;
  height: 4em;
}

#welcome-message h1 {
  margin: 0;
}

#welcome-message .row{
  margin: 0;
}

#logo {
  width: 25%;
  position: relative;
  float: left;
}

#name {
  text-align: left;
  position: relative;
}

#time {
  text-align: right;
  width: 75%;
  position: relative;
  float: left;
}
/* --- Tab View --- */
/* --- Tabs --- */

#tab-view {
  height: 90%;
  height: calc(100% - 4em);
}

#tabs {
  width: 5%;
  height: 100%;
  position: relative;
  float: left;
}

.tab {
  width: 100%;
  height: 5em;
  position: relative;
  float: left;
  margin-bottom: 1em;
}

.tab {
  background-color: #86866B;
}

#tab2 {
  background-color: #DBDBAF;
}

#tab3 {
  background-color: #DBDBAF;
}
/* --- Viewpane --- */

#viewpane {
  width: 95%;
  height: 100%;
  position: relative;
  float: left;
  background: #86866B;
  padding: 1em;
}

#viewpane .row {
  height: 100%;
  margin: 0;
}

.half-viewpane {
  height: 100%;
  width: calc(50% - 0.5em);
  background-color: white;
  padding: 0.5em;
  position: relative;
  float: left;
}

#left-viewpane {
  margin-right: 0.5em;
}

#right-viewpane {
  margin-left: 0.5em;
}

#tablediv {
  height: 90%;
  overflow: auto;
}

#plus-sign {
  width: 2em;
  text-align: right;
}

.tab {
  padding: .4em;
}

.tabicon {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* --- d3 --- */

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}